<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:config>
        <aop:aspect id="log" ref="logging">
            <aop:pointcut id="selectAll" expression="execution(* com.lesliefish.*.*(..))"></aop:pointcut>
            <aop:before method="beforeAdvice" pointcut-ref="selectAll"></aop:before>
            <aop:after method="afterAdvice" pointcut-ref="selectAll"></aop:after>
            <aop:after-returning method="afterReturningAdvice" pointcut-ref="selectAll"
                                 returning="retVal"></aop:after-returning>
            <aop:after-throwing method="AfterThrowingAdvice" pointcut-ref="selectAll"
                                throwing="ex"></aop:after-throwing>
        </aop:aspect>
    </aop:config>

    <bean class="com.lesliefish.Student" id="student">
        <property name="age" value="11"/>
        <property name="name" value="Zara"/>
    </bean>

    <bean class="com.lesliefish.OtherClass" id="otherClass">
        <property name="name" value="other class"></property>
        <property name="type" value="testType"></property>
    </bean>

    <bean class="com.lesliefish.Logging" id="logging"></bean>
</beans>