<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="beanTest" class="com.lesliefish.BeanTest" init-method="init" destroy-method="destroy">
        <property name="message" value="post processors"></property>
    </bean>

    <bean class="com.lesliefish.InitBean"></bean>
</beans>