<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="templateBean" abstract="true">
        <property name="message" value="msg"></property>
        <property name="type" value="template"></property>
    </bean>

    <bean id="testBean" class="com.lesliefish.TestBean" parent="templateBean">
    </bean>
</beans>