<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id = "helloWorld" class = "helloworld.HelloWorld">-->
        <!--<property name = "message" value = "Hello World!"/>-->
    <!--</bean>-->

    <!--<bean id = "singletonScope" class="scopedemo.SingletonScopeDemo" scope="singleton">-->
    <!--</bean>-->

    <!--<bean id = "prototypeScope" class="scopedemo.PrototypeScopeDemo" scope="prototype">-->
    <!--</bean>-->

    <!--<bean id = "beanLifeCycleTest" class="beanlifecycle.BeanLifeCycleTest"-->
          <!--scope="singleton" init-method="init" destroy-method="destroy">-->
    <!--</bean>-->

    <!--<bean id = "beanPostProcessorDemo" class = "beanpostprocessor.BeanPostProcessorDemo" init-method="init"-->
          <!--destroy-method="destroy">-->
        <!--<property name="message" value = "just a test"></property>-->
    <!--</bean>-->

    <!--<bean class="beanpostprocessor.InitBeanPostProcessorDemo"></bean>-->


    <bean id="helloWorld" class="beaninheritance.BeanInheritance1">
        <property name="message1" value="Hello World!"/>
        <property name="message2" value="Hello Second World!"/>
    </bean>

    <bean id="helloIndia" class="beaninheritance.BeanInheritance2" parent="helloWorld">
        <property name="message1" value="Hello India!"/>
        <property name="message3" value="Namaste India!"/>
    </bean>

</beans>